# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python build artifacts
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Node (if used locally)
node_modules/

# OS junk
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
